<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hybriddependcyanlysis.Mapper.AstMapper">
    <insert id="insertClass" useGeneratedKeys="true" keyProperty="id">
        insert into astschema.class_table(file_id, class_name, is_interface, modifier, output_id, package_name)
        values (#{file_id}, #{className}, #{isInterface}, #{modifier}, #{outputId}, #{packageName});

    </insert>
    <insert id="insertMethod" useGeneratedKeys="true" keyProperty="id">
        insert into astschema.method_table (class_id, method_name, return_type, modifier, output_id)
        values (#{classId}, #{methodName}, #{returnType}, #{modifier}, #{outputId})

    </insert>
    <insert id="insertParam">
        insert into astschema.parameter_table (method_id, param_name, param_type, position, output_id)
        values (#{methodId}, #{paramName}, #{paramType}, #{position}, #{outputId});
    </insert>
    <insert id="insertDependency">
        insert into astschema.dependency_table (source_class, source_method, target_class, target_method, dependency_type, output_id)
        values (#{sourceClass}, #{sourceMethod}, #{targetClass}, #{targetMethod}, #{dependencyType}, #{outputId})
    </insert>
    <insert id="insertPage" useGeneratedKeys="true" keyProperty="id">
        insert into client_side_schema.page_table(page_name, path, type)
        VALUES (#{pageName}, #{path}, #{type})
    </insert>
    <insert id="insertExpression">
        insert into client_side_schema.el_expression_table (page_id, expression, target_class, target_method, line_number)
        values (#{pageId}, #{expression}, #{targetClass}, #{targetMethod}, #{lineNumber})
    </insert>
    <insert id="insertPageImport">
        insert into client_side_schema.page_import_table (page_id, import_class)
        values (#{pageId}, #{importClass})
    </insert>
    <insert id="insertTaglib">
        insert into client_side_schema.taglib_table (page_id, prefix, uri)
        values (#{pageId}, #{prefix}, #{uri})
    </insert>
    <insert id="insertAnalysisResult">
        insert into hybridanalysis.analysis_result (source_folder_id, user_id, project_path, analysis_time, dependency_graph, java_classes, xml_configs, jsf_files, issues, total_java_files, total_xhtml_files, total_xml_files, total_issues, create_time, update_time)
        VALUES (#{sourceFolderId}, #{userId}, #{projectPath}, #{analysisTime}, #{dependencyGraph}, #{javaClasses}, #{xmlConfigs}, #{jsfFiles}, #{issues}, #{totalJavaFiles}, #{totalXhtmlFiles}, #{totalXmlFiles}, #{totalIssues}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateAnalysisResult">
        UPDATE hybridanalysis.analysis_result
        <set>
            <if test="sourceFolderId != null">source_folder_id = #{sourceFolderId},</if>
            <if test="userId != null">user_id = #{userId},</if>

            <if test="projectPath != null">project_path = #{projectPath},</if>
            <if test="analysisTime != null">analysis_time = #{analysisTime},</if>

            <if test="dependencyGraph != null">dependency_graph = #{dependencyGraph},</if>
            <if test="javaClasses != null">java_classes = #{javaClasses},</if>
            <if test="xmlConfigs != null">xml_configs = #{xmlConfigs},</if>
            <if test="jsfFiles != null">jsf_files = #{jsfFiles},</if>
            <if test="issues != null">issues = #{issues},</if>

            <if test="totalJavaFiles != null">total_java_files = #{totalJavaFiles},</if>
            <if test="totalXhtmlFiles != null">total_xhtml_files = #{totalXhtmlFiles},</if>
            <if test="totalXmlFiles != null">total_xml_files = #{totalXmlFiles},</if>
            <if test="totalIssues != null">total_issues = #{totalIssues},</if>

            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteDependency">
        delete from astschema.dependency_table where id = #{id} and output_id = #{outputId} LIMIT 1000
    </delete>
    <delete id="deleteParameter">
        delete from astschema.parameter_table where id = #{id} and output_id = #{outputId} LIMIT 1000
    </delete>
    <delete id="deleteMethod">
        delete from astschema.method_table where id = #{id} and output_id = #{outputId} LIMIT 1000
    </delete>
    <delete id="deleteClass">
        delete from astschema.class_table where id = #{id} and output_id = #{outputId} LIMIT 1000
    </delete>
    <delete id="deleteOutputReport">
        delete from hybridanalysis.ast_output where user_id =#{userId} and source_folder_id = #{sourceFolderId}
    </delete>


    <select id="getOutPut" resultType="com.hybriddependcyanlysis.POJO.DAO.JavaFilesParseDAO">
        select * from hybridanalysis.ast_output
        <where>
            <if test="id != ' ' and id != null">
                and user_id = #{id}
            </if>
            <if test="sourceFolderId != '' and sourceFolderId != null">
                and source_folder_id = #{sourceFolderId}
            </if>
        </where>
    </select>

    <select id="getDependencies" resultType="com.hybriddependcyanlysis.POJO.DAO.AstSchema.DependencyDAO">
        select * from astschema.dependency_table
        <where>
            <if test="id != null and id != ''">
                and output_id = #{id}
            </if>
        </where>
    </select>
    <select id="getParameters" resultType="com.hybriddependcyanlysis.POJO.DAO.AstSchema.ParameterDAO">
        select * from astschema.parameter_table where output_id = #{id}
    </select>
    <select id="getMethods" resultType="com.hybriddependcyanlysis.POJO.DAO.AstSchema.MethodDAO">
        select * from astschema.method_table where output_id = #{id}
    </select>
    <select id="getClasses" resultType="com.hybriddependcyanlysis.POJO.DAO.AstSchema.ClassDAO">
        select * from astschema.class_table where output_id = #{id}
    </select>
    <select id="getJspParseOutput" resultType="com.hybriddependcyanlysis.POJO.DAO.JspParseOutPutDAO">
        select * from hybridanalysis.jsp_parse_output
        <where>
            <if test="id != '' and id != null">
                and user_id = #{id}
            </if>
            <if test="sourceFolderId != '' and sourceFolderId != null">
                and source_folder_id = #{sourceFolderId}
            </if>
        </where>
    </select>
    <select id="getAnalysisResultBySourceFolderId"
            resultType="com.hybriddependcyanlysis.POJO.DAO.AnalysisResultsDAO">
        select * from hybridanalysis.analysis_result where source_folder_id = #{id}
    </select>

</mapper>