<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hybriddependcyanlysis.Mapper.ParseSoruceCodeMapper">

    <insert id="insertAstError" >
        insert into hybridanalysis.ast_error (name, user_id, source_folder_id, create_time, update_time, output_id, path)
        VALUES (#{name}, #{userId}, #{sourceFolderId}, #{createTime}, #{updateTime}, #{outputId}, #{path});
    </insert>

    <insert id="insertAstOutPut" useGeneratedKeys="true" keyProperty="id">
        insert into hybridanalysis.ast_output(name, create_time, update_time, user_id, source_folder_id, path)
        VALUES (#{name}, #{createTime}, #{updateTime}, #{userId}, #{sourceFolderId}, #{path})
    </insert>


    <select id="getSourceFolderPathById" resultType="java.lang.String">

    </select>
</mapper>