<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hybriddependcyanlysis.Mapper.StaticAnalysisMapper">


    <select id="getDependencyCountGroupByType" resultType="java.util.HashMap">
        select dependency_type, count(*) AS calledNums from astschema.dependency_table
        where output_id = #{id} group by dependency_type
    </select>
    <select id="getELexpression" resultType="java.util.HashMap">
        select page_name as pageName, expression from client_side_schema.el_expression_table left join client_side_schema.page_table pt on pt.id = el_expression_table.page_id

    </select>
</mapper>